@use "../base/base" as *;

.wrapper {
    @media only screen and (min-width: $bp-tablet) {
        display: flex;
    }
}

.container,
.content {
    background-color: $dark-blue;
    border-radius: 1.2rem;
    padding: 4rem 5rem;

    @media only screen and (min-width: $bp-tablet) {
        padding: 3rem 5rem;
    }
}

.container {
    border-top-right-radius: 40%;
    margin-bottom: 3rem;

    @media only screen and (min-width: $bp-tablet) {
        margin-bottom: 0;
        margin-right: 3rem;
    }
}

.card {
    margin-top: 4rem;

    &__list {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    outline: none;

    background-color: $very-dark-blue;
    border-radius: 1.2rem;
    padding: 1.5rem;
    height: 5.5rem;
    width: 5.5rem;

    cursor: pointer;

    transition: ease 0.3s;

    &:focus {
        outline: 3px solid $white;
        border-radius: 1.2rem;
    }

    &:hover {
        box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
    }

    &__icon {
        height: auto;
        width: 4rem;

        &--document {
            height: auto;
            width: 2rem;
        }
    }
}

.content {
    padding-bottom: 7rem;

    position: relative;

    &__description {
        color: $white-2;
        margin-bottom: 2rem;

        @media only screen and (min-width: $bp-tablet) {
            margin: 3rem 0;
        }

        &--highlight {
            color: $white;
            font-weight: 700;
        }
    }

    @media only screen and (min-width: $bp-tablet) {
        min-width: 60rem;
        padding-bottom: 0;
    }
}

.info {
    display: flex;
    justify-content: space-between;
}

.popup {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    border-radius: 1.2rem;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;

    position: absolute;
    right: 100px;
    bottom: -30px;

    @media only screen and (min-width: $bp-tablet) {
        right: 50px;
        bottom: 170px;
        transform: translateX(0);
    }

    @media only screen and (min-width: $bp-tablet) {
        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -30px;
            width: 0;
            height: 0;
            border-top: 50px solid $white;
            border-left: 50px solid transparent;
        }
    }

    &__amount {
        font-size: 4rem;
    }

    &__description {
        color: $grayish-blue;
        margin-left: 1rem;
    }

    opacity: 0;
    animation: popup 0.35s linear 2.5s forwards;
}
