// Colors

// Primary

$peach: hsl(6, 100%, 80%);
$pink: hsl(335, 100%, 65%);

// Neutral

$white: #fff;
$white-2: rgba(255, 255, 255, 0.75);
$black: #000;
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

// Responsive breakpoint

$bp-tablet: 37.5em; // 900px
$bp-desktop: 56.25em; // 900px

html {
    font-size: 50%; //1rem = 8px

    @media only screen and (min-width: $bp-desktop) {
        font-size: 62.5%; //1rem = 10px
    }
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: $white;
    line-height: 1.6;
    letter-spacing: 1px;
    background: $very-dark-blue url(../img/bg-mobile.png) no-repeat bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;

    @media only screen and (min-width: $bp-tablet) {
        background-image: url(../img/bg-desktop.png);
        background-size: contain;
        font-size: 1.6rem;
    }
}

.attribution {
    margin-top: 5rem;
    font-size: 1.4rem;
    text-align: center;

    &__link {
        color: $white-2;

        &:hover {
            text-decoration: none;
        }
    }
}
